body {
background-image: url(../img/download.jpg);
  background-color: pink;
  background-repeat:no-repeat:
}

h1 {
  text-align: center;
  margin: 0px;
  font-size: 90px;
  color: #070707;
  
}
p {
  text-align: center;
  margin: 0px;
  font-size:45px;
  font-color: pink;
}
.img {
opacity: 0.8;
}
