body {
  background-image: url(../img/fortnite-lama-wailing.jpg);
  background-repeat: repeat;
	marging:  0;
	padding: 0;
	background-size: cover;
	font-color:#35fc03;
	font-family: fantasy;
	}
	
h1 {
  text-align: center;
  margin: 0px;
  font-size: 70px;
 font-color:#35fc03;
	font-family: fantasy;
	border: 1px;
	border-color: white;
  
}
p {
  text-align: center;
  margin: 0px;
  font-size:30px;
	font-color:#35fc03;
	font-family: fantasy;

}


.content-box {
	padding: 2%;
	background-color: #525252;
}

.action-button {
	background-color: #525252;
	padding: 6px 26px;
	border: 0px;
}

h1 {	
	text-decoration: underline;
	text-align:center;
	font-family: fantasy;
}

.landing-page h1 {
	margin-top: 0;
	margin-bottom: 45px;
}

h2 {
	color: #fa4646
	display: inline;
	padding: 2px 13px;		
}

h3 {
	text-decoration: underline;		
}

p {
	font-family: fantasy;
}

ul { 
	border:3px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 3%;
	margin-left: 2cm;
	max-width: 20cm;
}

li { 
	margin: 2px;
}

.subscribe-page {
 	background-image: url("../img/Bild.jpg"); 
	
}

.email-box {
 	text-align:center;
 	font-weight: bold;
	padding: 0px 0px;	
        justify-content:center;
	align-items:center;
 	position: center;
	justify-content:center;
	align-items:center;
	margin-left: auto;
	margin-right: auto;
	background-color:#525252;
}

select{

	text-align:center;
 	font-weight: bold;
	padding: 0px 0px;
	background-color: #525252;
        justify-content:center;
	align-items:center;
 	position: center;
	 justify-content:center;
	align-items:center;
	margin-left: auto;
	margin-right: auto;
	
}

.subscribe-page form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input [type=text] {
    	padding: 0px; 
    	border: 1px solid black;
}

span.email-box {
	border: 1px solid black;
	padding: 0px;
}	

select {
	border: 1px solid black;
	padding: 0px;	
}

input [reset] {
    	padding:0px 0px; 
    	background:#ccc; 
    	border:0 none;
    	cursor:pointer;
    	-webkit-border-radius: 5px;
    	border-radius: 5px; 
}

input [submit] {
	padding:0px 0px; 
    	background:#ccc; 
    	border:0 none;
    	cursor:pointer;
    	-webkit-border-radius: 5px;
    	border-radius: 5px; 
}
input {
	padding:0px 0px; 
    	background:#ccc; 
    	border:0 none;
    	cursor:pointer;
    	-webkit-border-radius: 5px;
    	border-radius: 5px; 
}
background-image{
	width:100%;
        height:auto;
}
.glow {
  font-size: 75px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
  animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ff33, 0 0 40px #00ff33, 0 0 50px #00ff33, 0 0 60px #00ff33, 0 0 70px #00ff33;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #03ff00, 0 0 40px #03ff00, 0 0 50px #03ff00, 0 0 60px #03ff00, 0 0 70px #03ff00, 0 0 80px #03ff00;
  }
}
.neon {
  font-size: 45px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
  animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 15px #04a304, 0 0 40px #04a304, 0 0 50px #04a304, 0 0 60px #04a304, 0 0 70px #04a304;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 15px #03ff00, 0 0 20px #03ff00, 0 0 50px #03ff00, 0 0 60px #03ff00, 0 0 70px #03ff00, 0 0 80px #03ff00;
  }
}

h4 {
	text-align: center;
}
 input {
	 color: #525252;
}
